<!DOCTYPE html>
<html>
<head>
  <title>EmberMobile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://github.com/tbprojects/ember_mobile"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:100;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div id="block-ui"></div>
<%= javascript_include_tag "templates/all" %>
<%= yield %>
</body>
</html>
